@using Questions.Data
@model IEnumerable<Question>


<div class="row">
    <h1>Questions</h1>
    <div class="col-md-4 col-md-offset-2">
        @foreach (Question q in Model)
        {
        <div class="well">
            <a href="/home/viewquestion?id=@q.Id">
                <h4>@q.Title</h4>
                <input type="hidden" value="@q.Text" />
            </a>

            <span>Tags:</span>
            @foreach (var qt in q.QuestionsTags)
            {
                <span class="label label-primary">@qt.Tag.Name</span>
            }

            @if (q.Text.Length > 50)
            {
                <h5>
                    @for (int i = 0; i < 50; i++)
                    {
                        @q.Text[i];
                    }...
                </h5>
            }
            else
            {
                <h5>@q.Text</h5>
            }


            <h5>@q.Likes.Count Like(s)</h5>
        </div>

            

        }
    </div>
</div>


